baseURL: "https://scottjbennett.com"
languageCode: "en-us"
title: "Scott Bennett"
theme: profile
enableReadingTime: false
enableGitInfo: true
outputs:
  home:
    - "HTML"
    - "RSS"
    - "JSON"
  page:
    - "HTML"
    - "RSS"

Paginate: 3
enableRobotsTXT: true
# disqusShortname: your-disqus-shortname
# googleAnalytics: G-MEASUREMENT_ID

markup:
  goldmark:
    renderer:
      unsafe: true

Menus:
  main:
    - identifier: blog
      name: Blog
      title: Blog posts
      url: /blogs
      weight: 1
    - identifier: toee
      name: ToEE
      title: Temple of Elemental Evil
      url: /toee
      weight: 2
    - identifier: LARP
      name: LARP
      title: LARP
      url: /larp
      weight: 3
    - identifier: TTRPG
      name: TTRPG
      title: TTRPG
      url: /ttrpg
      weight: 3
    #Dropdown menu
    # - identifier: dropdown
    #   title: Example dropdown menu
    #   name: Dropdown
    #   weight: 3
    # - identifier: dropdown1
    #   title: example dropdown 1
    #   name: example 1
    #   url: /#
    #   parent: dropdown
    #   weight: 1
    # - identifier: dropdown2
    #   title: example dropdown 2
    #   name: example 2
    #   url: /#
    #   parent: dropdow
    #   weight: 2

params:
  title: "Scott Bennett"
  description: Hi, my name is Scott Bennett. I will patiently help you get your project done. 
  # staticPath: ""  # The path to serve the static files from
  favicon: "/fav.png"

  # Whether to serve bootstrap css and js files from CDN or not. Can be set to true, "css" or "js" to choose between
  # serving both, only the css, or only the js files through the CDN. Any other value will make so that CDN is not used.
  # Note the lack of "" in true, it should be of boolean type.
  useBootstrapCDN: false

  # If you want to load dynamically responsive images from Cloudinary
  # This requires your images to be uploaded + hosted on Cloudinary
  # Uncomment and change YOUR_CLOUD_NAME to the Cloud Name in your Cloudinary console
  # cloudinary_cloud_name: "YOUR_CLOUD_NAME"

  # Whether the fade animations on the home page will be enabled
  animate: true

  theme:
    # disableThemeToggle: true
    # defaultTheme: "light" # dark

  font:
    fontSize: 1rem # default: 1rem
    fontWeight: 400 # default: 400
    lineHeight: 1.5 # default: 1.5
    textAlign: left # default: left

  # color preference
  # color:
  #   textColor:
  #   secondaryTextColor:
  #   backgroundColor:
  #   secondaryBackgroundColor:
  #   primaryColor:
  #   secondaryColor:

  #   darkmode:
  #     textColor:
  #     secondaryTextColor:
  #     backgroundColor:
  #     secondaryBackgroundColor:
  #     primaryColor:
  #     secondaryColor:

  # If you want to customize the menu, you can change it here
  navbar:
    align: me-auto # Left: ms-auto | center: mx-auto | right: me-auto | Default: ms-auto
    # brandLogo: "/logo.png" # Logo for the brand | default is the favicon variable
    # showBrandLogo: false # Show brand logo in nav bar | default is true
    # brandName: "Hugo Profile" # Brand name for the brand | default is the title variable
    disableSearch: false
    # searchPlaceholder: "Search"
    menus:
      disableAbout: false
      disableExperience: false
      disableEducation: false
      disableProjects: true
      disableAchievements: true
      disableContact: false

  # Hero
  hero:
    enable: true
    intro: "Hi, my name is"
    title: "Scott Bennett."
    subtitle: "I will patiently help you get your project done."
    content: > 
       I have years of project management and support experience. 
       If you are a business moving computing infrastructure into the cloud or an artist getting a book made. 
    image: /scott_hammock.jpg
    bottomImage:
      enable: true
    # roundImage: true # Make hero image circular | default false
    button:
      enable: true
      name: "Resume"
      url: "/Scott_Bennett_Resume.docx"
      download: true
      newPage: false


  # About
  about:
    enable: true
    title: "About Me"
    image: "/images/me.png"
    content: | 
      I have years of experience working with Linux and troubleshooting large complex data flows.
    skills:
      enable: true
      title: "Here are a few technologies I've been working with recently:"
      items:
        - "Amazon Web Services"
        - "Ansible"
        - "Terraform"
        - "Grafana"
        - "Jenkins"
        - "Git"
        - "XML"
        - "EDI X12"
        - "Bash"

  # Experience
  experience:
    enable: true
    # title: "Custom Name"
    items:
      - job: "Site Reliabiliy Engineer"
        company: "Solventum"
        companyUrl: "https://www.solventum.com"
        date: "Nov 2019 - present"
        content: |
          ### System Administration and DevOps
          
            - Deployed code with Ansible.
            - Patched Systems.
            - Responded to Opsgenie Alerts.
            - Presented on Incident Response and Monitoring to the Developer team.
          ### System Integration
          
            - Troubleshot Translation of HL7 SIU, ADT, and MDM Documents into FHIR Repository.
            - Troubleshot Translation of EDI X12 835,837 Claim Data into FHIR Repository.
            - Troubleshot ETL jobs between MongoDB and Postgress systems.
            - Created and updated Grafana Dashbaords reporting off of Metrics stored in Cloudwatch, Graphite, and Prometheues.
          ### Misc Duties
          
            - Chaired Closed Loop internal conference. 
      - job: "Senior Software Application Engineer"
        company: "Philips Respironics"
        companyUrl: "https://www.usa.philips.com/healthcare/e/respironics"
        date: "August 2012 - Nov 2019"
        content: | 
          ### System Administration and DevOps
          
           - Developed and implemented migration from a VMware and physical environment to AWS.
           - Migrated MySQL and CouchDB databases to AWS with no downtime using replication.
           - Implemented server monitoring with New Relic Infrastructure.
           - Troubleshot system outages and performed postmortems.
           - Configured and maintained MySQL and CouchDB backups and replication.
           - Managed users and packages with Ansible.
           - Migrated automated email outreach of over 3,000 emails a day to Amazon SES.
           - Ensured that Atlassian JIRA, Atlassian Confluence, and SugarCRM are updated and patched.
           - Consulted for development team to implement AWS specific functionality.
           - Created technical documentation regarding the medSage infrastructure.
           
          ### Scripting and Reporting
          
           - Configured Rundeck job management software and migrated all Cron based jobs to it.
           - Performed ad hoc reporting for the Account Services team providing metrics and analytics.
           - Wrote web scraping tool to extract reports form a vendor's website using Perl and Selenium.
           - Ensured business critical reports ran and were correct.
           - Documented application flow for mandated Privacy Impact Assessment.
           - Worked with development team to ensure that the billing process worked properly and is correct.
           
          ### Integration Application Support
          
           - Designed, implemented, and updated custom integrations with DME software.
           - Handled PHI in accordance with HIPAA policies.
           - Performed internal and external training, documentation and quality assurance for new features.
           - Monitored integration and troubleshot issues that arose.
           - Assisted customer service team as an escalation point.
           - Managed relationships with outside vendors including Voxeo, LocationSmart and AWS.
           - Assisted customers using Fog Creek Coplot and Skype for Business.
      - job: "EDI Analyst"
        company: "GlaxoSmithKline"
        companyUrl: "https://www.gsk.com"
        date: "May 2011 - January 2012"
        content: |
           - Facilitated trading partner implementation and development with outsourced EDI vendor GXS.
           - Resolved EDI business support issues, resulting in cost savings by reducing chargebacks.
           - Conducted EDI application testing to identify miscommunications for Order Specialists.
           - Troubleshot issues relating to Order to Cash, Distribution, and Accounts Receivables.
           - Analyzed vendor data for use in forecasting sales with GlaxoSmithKline's retail partners.
           - Traced data flow through many translation points to correct translation between systems.
           - Reviewed COBOL code to determine how exported data was being formatted.
           - Researched workflow in MVS TSO using IBM 3220 mainframe.
      - job: "Technical Support Specialist"
        company: "True Commerce"
        companyUrl: "https://www.truecommerce.com"
        date: "June 2017 - November 2019"
        content: |
          - Provided phone support for Transaction Manager and Integrator software for 3,000+ customers.
          - Logged case information in NetSuite ticketing system.
          - Reviewed and updated technical support documentation in the nGenera Knowledgebase.
          - Assisted customers with EDI document rejection and mapping updates.
          - Configured and troubleshot Microsoft SQL Server backend used by Transaction Manager software.
          - Resolved issues with integration between Transaction Manager software and back office systems.
          - Performed quality assurance testing on new iterations of the Transaction Manager software.
          - Advised developers regarding software improvements based on customer feedback.
      - job: "Customer Support Lead"
        company: "Petrosoft"
        companyUrl: "https://example.com"
        date: "May 2008 - June 2009"
        content: |
          - Remotely troubleshot issues with online back office software product using GotoAssist and VNC.
          - Created manuals and other training materials streamlining the training process.
          - Troubleshot vendor EDI data that that failed to be processed.
          - Assisted in configuration of Dell rackmount servers running Gentoo Linux.
          - Collected customer feedback and submitted feature requests to offshore developers.
          - Performed quality assurance testing before new features were implemented in production.
          - Installed and configured temperature automation systems.
          - Created bulk mail, fax, and telephone advertising campaigns.
          - Configured Windows 2003 Small Business Server using group policies and scripts.
      - job: "Integration Specialist"
        company: "Amcom Office Systems"
        companyUrl: "https://teamamcom.com"
        date: "February 2006 – March 2008"
        content: |
          - Supported networked office equipment for clients in a wide area of Western Pennsylvania.
          - Trained the entirety of the networking field service department.
          - Troubleshot printing issues with Quark Express, Adobe Photoshop, and Adobe InDesign.
          - Provided second-level support to other technicians as a specialist.

  # Education
  education:
    enable: true
    # title: "Custom Name"
    index: false
    items:
      - title: "Associates Degree in Computer Science"
        school:
          name: "Pittsburgh Technical Institute"
          url: "https://example.org"
        date: "2009 - 2013"
        certifications:
          - Certified ScrumMaster (Scrum Alliance)
          - A+ (Comptia)
          - Network + (Comptia)
          - Security + (Comptia)
          - Windows XP (70-270) (Microsoft)
          - CIW Professional (CIW)
          - Lean End2End (Philips)
        conferences:
          - Abstractions Pittsburgh 2016, 2019
          - Security B-Sides Pittsburgh 2012, 2019
          - Railsconf 2018
          - Heartifacts 2018
          - Notacon 2010, 2011, 2012
          - Steel City Ruby 2013
          - Closed Loop 2020,2021,2022

  #Contact
  contact:
    enable: true
    # title: "Custom Name"
    content: My inbox is always open. Whether you have a question or just want to say hi, I’ll try my best to get back to you!
    email: scott.james.bennett@gmail.com
    btnName: Mail me


  footer:
    socialNetworks:
      github: https://github.com/sjbennett123
      linkedin: https://www.linkedin.com/in/scott-bennett-82597b7/
      twitter: https://twitter.com/sjbennett123
      instagram: https://www.instagram.com/sjbennett123/
      facebook: https://www.facebook.com/scott.bennett.9235199/

  # List pages like blogs and posts
  listPages:
    disableFeaturedImage: false

  # Single pages like blog and post
  singlePages:
    readTime:
      enable: false
      content: "min read"
    scrollprogress:
      enable: true

  # For translations
  terms:
    read: "Read"
    toc: "Table Of Contents"
    copyright: "All rights reserved"
    pageNotFound: "Page not found"
    emailText: "Check out this site"

  datesFormat:
    article: "Jan 2, 2006"
    articleList: "Jan 2, 2006"
    articleRecent: "Jan 2, 2006"
